<h2 class="justify-content-center">Stupid Coaching</h2>
<form class="row justify-content-center align-items-center align-contentmt-3 ml-2" action="/answer" data-turbo="false">Ask your coach anything:
  <div class="col-auto">
    <input type="text" name="question">
  </div>
  <div class="col-auto">
    <input class="btn btn-primary" type="submit" value="Ask!">
  </div>
</form>
