/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
  justify-content: center;
}

* *::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-style: normal;
  font-weight: 300;
  background-color: white;
  color: black;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  text-align: left;
  font-size: 4.5rem;
  font-weight: 400;
  margin: 1.5rem 0 3rem;
}

.subheader {
  text-align: left;
  font-weight: 300;
  margin-bottom: 1rem;
}

.form {
  background-color: white;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.input-button {
  width: 100%;
  display: flex;
}

.input {
  box-sizing: border-box;
  flex: 1;
  background-color: white;
  border-width: 2px;
  border-style: solid;
  border-color: lightgrey transparent lightgrey;
  border-radius: 50%;
  color: darkgrey;
  padding: .75rem 1rem;
}

.button {
  box-sizing: border-box;
  background-color: blue;
  border-width: 2px;
  border-style: solid;
  border-color: blue blue transparent;
  border-radius: 50%;
  color: white;
  font-size: 2rem;
  font-weight: 400;
  padding: 1.2rem 1.5rem;
}

.sentence {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  position: relative;
  padding: 3rem;
  margin-bottom: 3rem;
  border-left: solid 3px grey;
}
.sentence.answer{
  background-color: rgb(255, 255, 182);
}
